/.project
__pycache__
/yolo/yolov3.weights

/content
/yolo/**
/yolo/darknet*
/yolo/*.weights
/yolo/plantacaocafe/custom-yolov4-tiny-detector_best.weights
/yolo/chaves_fenda/custom-yolov4-tiny-detector_best.weights
/imagem/*