numpy
opencv-python
PyBluez
pyserial
imutils
#numpy==1.20.2
#opencv-python==4.5.1.48
#yolov5

# sudo apt-get install lzma

# sudo apt-get install liblzma-dev
# sudo apt-get install lzma
# ./configure --enable-optimizations
# sudo make
# sudo make altinstall

#pip install git+https://github.com/pybluez/pybluez@master